{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block body %}
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0">
          <h2>About Us</h2>
          <p>
            At our gym clothes website, we pride ourselves on providing high-quality products to help you achieve your fitness goals. Our wide range of gym clothes and accessories includes stylish pump covers that not only protect your gear but also make a fashion statement. What sets us apart from other online stores is our lightning-fast delivery service - we guarantee to get your order to you within 1 hour of placing it. So why wait? Start shopping now and experience the convenience of our speedy delivery and premium products!
          </p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
  {% endblock body %}